In [94]:
import re
import pandas as pd

In [95]:
sample_text = 'Python Exercises, PHP exercises.'
result = re.sub(r'[ ,.]', ':', sample_text)
print(result)

Python:Exercises::PHP:exercises:

In [96]:
dictionary = {'SUMMARY': ['hello, world!', 'XXXXX test', '123four, five:; six...']}

df = pd.DataFrame(dictionary)

def remove_everything(string):
    clean_data = re.sub(r'[^a-zA-Z]', '', string)
    clean_data = clean_data.replace('XXXXX', '')
    return clean_data

df['SUMMARY'] = df['SUMMARY'].apply(remove_everything)
print(df)

       SUMMARY
0   helloworld
1         test
2  fourfivesix

In [97]:
def find_Allwords(string):
    pattern = re.compile(r'\b\w{4,}\b') # with min length of 4
    words = pattern.findall(string)
    return words

string = "Hi Aakash is doing intership with FlipRobo."
result = find_Allwords(string)
print(result)

['Aakash', 'doing', 'intership', 'with', 'FlipRobo']

In [98]:
def find_Allwords_agian(string):
    pattern = re.compile(r'\b\w{3,5}\b') #with some specific length
    words = pattern.findall(string)
    return words

string = "Hi Aakash is doing intership with FlipRobo and training with data trained."
result = find_Allwords_agian(string)
print(result)

['doing', 'with', 'and', 'with', 'data']

In [99]:
def remove_parenthesis(strings):
    pattern = re.compile(r'[\(\)]')
    result = [pattern.sub('', s) for s in strings]
    return result

sample_text = ["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]
output = remove_parenthesis(sample_text)
print(output)

['example .com', 'hr@fliprobo .com', 'github .com', 'Hello Data Science World', 'Data Scientist']

In [100]:
def remove_parenthesis_fromTextFile(string):
    pattern = re.compile(r'\([^)]*\)')
    result = [pattern.sub('', s) for s in string]
    return result

with open('sample.txt', 'r') as file:
    text = file.read()

text = eval(text)

output = remove_parenthesis_fromTextFile(text)
print(output)

['example ', 'hr@fliprobo ', 'github ', 'Hello ', 'Data ']

In [101]:
string = "ImportanceOfRegularExpressionsInPython"
result = re.findall(r'[A-Z][a-z]*', string)
print(result)

['Importance', 'Of', 'Regular', 'Expressions', 'In', 'Python']

In [102]:
def split_string_from_Numbers(text):
    pattern = re.compile(r'(?<=[a-zA-Z])(\d)')
    result = pattern.sub(r' \1', text)
    return result

text = "RegularExpression1IsAn2ImportantTopic3InPython"
output = split_string_from_Numbers(text)
print(output)

RegularExpression 1IsAn 2ImportantTopic 3InPython

In [103]:
def insert_spaces_between_capital_or_numbers(string):
    pattern = re.compile(r'(?<=[a-zA-Z0-9])([A-Z0-9])')
    result = pattern.sub(r' \1', string)
    return result

string = "RegularExpression1IsAn2ImportantTopic3InPython"
output = insert_spaces_between_capital_or_numbers(string)
print(output)

Regular Expression 1 Is An 2 Important Topic 3 In Python

In [104]:
df = pd.read_csv("https://raw.githubusercontent.com/dsrscientist/DSData/master/happiness_score_dataset.csv")

df['first_five_letters'] = df['Country'].str[:6]

df.head()

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual,first_five_letters
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738,Switze
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201,Icelan
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204,Denmar
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531,Norway
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176,Canada

In [105]:
#true Scenario
string = "Valid_String_123"
result = re.match(r'^[A-Za-z0-9_]+$', string) is not None
print(result)

#false scenario
string = "@@@@"
result = re.match(r'^[A-Za-z0-9_]+$', string) is not None
print(result)

True
False

In [106]:
#true scenario
string = "12 is the answer."
number = 12
result = re.match(r'^' + str(number), string) is not None
print(result)

#FALSE CONDITION
number =13
result = re.match(r'^' + str(number), string) is not None
print(result)

True
False

In [107]:
ip = "192.001.002.003"
output = re.sub(r'(\b0+(\d))', r'\2', ip)
print(output)

192.1.2.3

In [108]:
#positive scenario
with open('sample.txt', 'r') as file:
    string = file.read()
result = re.search(r'([A-Z][a-z]+ \d{1,2}[a-z]* \d{4})', string)
print(result)


#negative scenario
with open('sample1.txt', 'r') as file:
    string = file.read()
result = re.search(r'([A-Z][a-z]+ \d{1,2}[a-z]* \d{4})', string)
print(result)

None
<re.Match object; span=(5, 21), match='August 15th 1947'>

In [109]:
string = 'The quick brown fox jumps over the lazy dog.'
words_to_search = ['fox', 'dog', 'horse']
result = re.findall(r'\b(?:' + '|'.join(re.escape(word) for word in words_to_search) + r')\b', string)
print(result)

['fox', 'dog']

In [110]:
string = 'The quick brown fox jumps over the lazy dog.'
word_to_search = 'fox'
result = [(match.group(0), match.start()) for match in re.finditer(re.escape(word_to_search), string)]
print(result)

[('fox', 16)]

In [111]:
string = 'Python exercises, PHP exercises, C# exercises'
pattern = 'exercises'
result = re.findall(pattern, string)
print(result)

['exercises', 'exercises', 'exercises']

In [112]:
text = 'Python exercises, PHP exercises, C# exercises'
substring = 'exercises'
result = [(match.group(0), match.start()) for match in re.finditer(re.escape(substring), text)]
print(result)

[('exercises', 7), ('exercises', 22), ('exercises', 36)]

In [113]:
date = "2022-10-03"
output = re.sub(r'(\d{4})-(\d{2})-(\d{2})', r'\3-\2-\1', date)
print(output)

03-10-2022

In [114]:
def find_decimal_numbers_with_precision(string):
    pattern = re.compile(r'\b\d+\.\d{1,2}\b')
    numbers = pattern.findall(string)
    return numbers

string = "01.12 0132.123 2.31875 145.8 3.01 27.25 0.25"
result = find_decimal_numbers_with_precision(string)
print(result)

['01.12', '145.8', '3.01', '27.25', '0.25']

In [115]:
string = "Hi i am 26 years old from 06 Aug 1996."
result = [(match.group(0), match.start()) for match in re.finditer(r'\d+', string)]
print(result)

[('26', 8), ('06', 26), ('1996', 33)]

In [116]:
def find_largest_numeric_value(string):
    numeric_values = re.findall(r'\d+', string)
    if numeric_values:
        return max(map(int, numeric_values))
    else:
        return None

string = "My marks in each semester are: 947, 896, 926, 524, 734, 950, 642"
result = find_largest_numeric_value(string)
print(result)

950

In [117]:
def insert_spaces_between_capital_letters(string):
    result = re.sub(r'(\B[A-Z])', r' \1', string)
    return result

string = "RegularExpressionIsAnImportantTopicInPython"
output = insert_spaces_between_capital_letters(string)
print(output)

Regular Expression Is An Important Topic In Python

In [118]:
string = "AaBb1CcDd2EeFf3"
result = re.findall(r'[A-Z][a-z]*|[0-9]', string)
print(result)

['Aa', 'Bb', '1', 'Cc', 'Dd', '2', 'Ee', 'Ff', '3']

In [119]:
string = "Hello hello world world"
output = re.sub(r'\b(\w+)\s+\1\b', r'\1', string)
print(output)

Hello hello world

In [120]:
#positivr scenario
test_strings = ["abc123", "hello_world", "12345", "example!@", "ends_alphanumeric1"]
for string in test_strings:
    result = re.match(r'.*[a-zA-Z0-9]$', string) is not None
    print(f"{string}: {result}")

abc123: True
hello_world: True
12345: True
example!@: False
ends_alphanumeric1: True

In [121]:
text = "RT @kapil_kausik: #Doltiwal I mean #xyzabc is 'hurt' by #Demonetization as the same has rendered USELESS."
result = re.findall(r'#\w+', text)
print(result)

['#Doltiwal', '#xyzabc', '#Demonetization']

In [122]:
text = "@Jags123456 Bharat band on 28??<ed><U+00A0><U+00BD><ed><U+00B8><U+0082>Those who  are protesting #demonetization  are all different party leaders"
output = re.sub(r'<U\+[\da-fA-F]+>', '', text)
print(output)

@Jags123456 Bharat band on 28??<ed><ed>Those who  are protesting #demonetization  are all different party leaders

In [123]:
with open('sample2.txt', 'r') as file:
        string = file.read()
        dates = re.findall(r'\d{2}-\d{2}-\d{4}', string)
print(dates)

['12-09-1992', '15-12-1999']

In [124]:
def remove_words_with_length_between_2_and_4(text):
    pattern = re.compile(r'\b\w{2,4}\b')
    result = pattern.sub('', text)
    return result

text = "The following example creates an ArrayList with a capacity of 50 elements. 4 elements are then added to the ArrayList and the ArrayList is trimmed accordingly."
output = remove_words_with_length_between_2_and_4(text)
print(output)

 following example creates  ArrayList  a capacity   elements. 4 elements   added   ArrayList   ArrayList  trimmed accordingly.